<%- include("partials/header") -%>
  <h1>Post</h1>
  <p>
    <ul>
      <%
      posts.forEach(function(element) {
        var contenido_mostrar = element.content;
        %>
        <li> <h1><%= element.title %></h1>  </li>
        <p><%= contenido_mostrar.substring(0,100) %> ... <a href="/resumen/<%= element.title %>">Leer mas</a></p>
        <%
      });
      %>
    </ul>
  </p>

  <a href="/compose" class="btn btn-primary">New Post</a>

<%- include("partials/footer") -%>
